## mendapatkan semua image path

In [1]:
from glob import glob

In [3]:
# glob mencapture pattern dari semua pathnya belum menarik imagenya
fname = glob("data/*/*.png")
fname[:10]

['data\\0\\1.png',
 'data\\0\\10.png',
 'data\\0\\100.png',
 'data\\0\\101.png',
 'data\\0\\102.png',
 'data\\0\\103.png',
 'data\\0\\104.png',
 'data\\0\\105.png',
 'data\\0\\106.png',
 'data\\0\\107.png']

## X = Path -> Image -> Flatten

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
X = np.array([plt.imread(f).flatten() for f in fname])
X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [6]:
X.shape

(2000, 784)

## y = Path -> Split -> ambil [1]

In [26]:
y = np.array([int(f.split("\\")[1]) for f in fname])
y

array([0, 0, 0, ..., 9, 9, 9])

In [33]:
#### Kenapa terdapat list 1?. Karena kita ingin mengambil posisi dibagian namanya saja
'data\\0\\1.png'.split("\\")[1]

'0'

In [27]:
y.shape

(2000,)

## Join sebagai 1 dataframe lalu save as csv

In [34]:
# X
df = pd.DataFrame(X, columns=range(1, 785))
df.head()

,1,2,3,4,5,6,7,8,9,10,...,775,776,777,778,779,780,781,782,783,784
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
# y
df['label'] = y
df.head()

,1,2,3,4,5,6,7,8,9,10,...,776,777,778,779,780,781,782,783,784,label
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

## save to csv

In [36]:
df.to_csv("latihan_metadata.csv", index=None)